<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/styleindex.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <script type="text/javascript" src="../static/js/javascript.js"></script>
    <title>Aplicativo de Namoro - Namore Agora!</title>
        
</head>
<body>
    <div id="intro" class="container-fluid" src="images/AquarelaRosa.png">
        <h1 id="destaquestitle">Find Your Date!</h1>
          <div class="menuapp">
            <div class="card">
                <p id="nome">Nome: <span id="nome"></span></p>
                <p id="likes">Likes: <span id="like-nome"></span></p>
                <div id ="menu">
                    <button type="button" class="btn btn-danger" onclick="dislike()">Dislike</button>
                    <button type="button" class="btn btn-success" onclick="like()">Like</button>
                </div>
                <br>
                   
            </div>
        </div>
    </div>

</body>
</html>