<!DOCTYPE html>
<html lang="pt-br">
<head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleindex.css') }}"/> -->
    

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400&display=swap" rel="stylesheet">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/bootstrap.min.css" />
    
        <title>Aplicativo de Namoro</title>
</head>

<body>
        <nav id="welcomemenu">
            <ul>
              <a href="index.html">Clique aqui para acessar nosso site!</a>
            </ul>
        </nav>

<div class="container-fluid">
    <div class="row welcome">
        <div class="col-12 col-xl-12">
                <div class='welcome-page'>
                  <div class='welcome-title'>
                    <h1 id='title-font'>
                     Se está buscando um amor, veio ao lugar certo!
                    </h1>
                  </div>
                </div>   
        </div>
        </div>

   </div>
</div>
</body>
</html>


